.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
.container {
    margin-top: 6rem;
    min-height: 1000px;
}
