@mixin flex($justify: flex-start, $align: flex-start, $wrap: nowrap, $dir: row) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $dir;
}

.wrapper {
    @include flex(flex-start, center, nowrap, column);
    min-width: 1000px;
}

.container {
    margin-top: 6rem;
    width: 115rem;
    max-width: 100%;
    min-height: 100rem;
    @include flex();
}

.content {
    flex: 1;
}
