@import 'normalize.css';
@import './fonts.css';
:root {
    --primary-color: rgba(254, 44, 85, 1);
    --secondary-color: rgb(32, 213, 236);
    --text-color: rgba(22, 24, 35, 1);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'ProximaNova' !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
}
a[href] {
    text-decoration: none;
}

.space-around {
    justify-content: space-around;
}
